<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="INPUT_FILE" value="input.txt" />
    <add key="INPUT_PATH" value="C:\DATA\" />
  </appSettings>

  <connectionStrings>    
    <add name="MyContext"
    connectionString="Data Source=DESKTOP-06IF4RV;Initial Catalog=FCC;Integrated Security=True;MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>